html, body{
  margin:0;
  height: 100%
}
#debug1{
  font-family: monospace;
  font-size: larger;
  position: absolute;
  left: 0px;
  top: 50px;
  border: 1px solid red;
  width: 180px;
  height: 220px;
  color:white;
  pointer-events: none;
}